<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" (onload)="checkfiunction()">
  <div class="container-fluid">
    <a class="navbar-brand">Insurance</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="login_Active">
        <li class="nav-item">
          <a class="nav-link" *ngIf="Home" routerLinkActive="active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="ADDC" routerLinkActive="active" aria-current="page" routerLink="/addemployee">Add Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="DR" routerLinkActive="active" aria-current="page" routerLink="/departmrntroledetils">Departmrnt Role</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="D" routerLinkActive="active" aria-current="page" routerLink="/departmrntdetils">Departmrnt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="B" routerLinkActive="active" aria-current="page" routerLink="/branchdetils">Branch</a>
        </li>
      </ul>
    </div>
    <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0" role="search" *ngIf="login_Active">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/userdetils">{{decodedArray.email}}</a>
      </li>
    </ul>
    <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0" role="search" *ngIf="login_Not_Active">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid p-3">
  <router-outlet></router-outlet>
</div>
